{% extends "base.html" %}

{% block content %}
<div class="reg_form">
    <h2 style="font-size:30px;">{{ page_title }}</h2>
    <br>
    <form action="{{ url_for('user.process_reg') }}" method="post">
        {{ reg_form.hidden_tag() }}
        <h3>
            {{ reg_form.username.label }}
            <br>
            {{ reg_form.username() }}
        </h3>
        <h3>
            {{ reg_form.email.label }}
            <br>
            {{ reg_form.email() }}
        </h3>
        <h3>
            {{ reg_form.password.label }}
            <br>
            {{ reg_form.password() }}
        </h3>
        <h3>
            {{ reg_form.password2.label }}
            <br>
            {{ reg_form.password2() }}
        </h3>
        <h3>
            {{ reg_form.submit() }}
        </h3>
    </form>
</div>
{% endblock %}