{% extends "base.html" %}

{% block content %}
<div class="news">
    
    <div class="navbar" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/magazine/subjects">Добавить предмет</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/magazine/courses">Добавить класс</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/magazine/stud">Журнал</a>
        </li>
        </ul>
    </div>
</div> 
{% endblock %}